#chorus-alert {
    position: absolute;
    bottom: 10%;
    right: 2.5%;
    display: none;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    z-index: 99999;
    padding: .5rem 1.25rem;
    padding-right:.75rem;
    min-width: 320px;
    max-width: fit-content;
    background: forestgreen;
}

#chorus {
    user-select: none;
    border-width: 0 !important;
    border-style: solid !important;
    border-color: #e5e7eb;
    display: flex;
    justify-content: space-between;
}

.chorus-common {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.chorus-header {
    color: #f0f0f0;
    font-weight: 600;
    line-height: 1;
}

#chorus-main {
    border: 1px solid #282828;
    border-right: 0;
    bottom: 90px;
    right: 0;
    position: absolute;
}

#chorus-controls {
    border: 3px solid #1ed760;
    padding: 1rem;
    border-radius: 8px;
    position: fixed;
    left: 80px;
    bottom: 80px;
    background-color: #171717;
    width: 320px;
}

#chorus button,
.chorus-text-button,
#chorus input {
    border-width: 0 !important;
    border-style: solid !important;
    border-color: #e5e7eb;
}

.success {
    background-color: green;
    
    &:hover {
        background-color: darkgreen;
    }

    &:active {
        background-color: darkolivegreen;
    }
}

.danger {
    background-color: crimson;
    
    &:hover {
        background-color: firebrick;
    }

    &:active {
        background-color: maroon;
    }
}

.share {
    background-color: darkviolet;
    
    &:hover {
        background-color: blueviolet;
    }

    &:active {
        background-color: rebeccapurple;
    }
}

.chorus-close-button,
.chorus-close-button:hover {
    padding: 0;
    max-height: 22px;
    font-size: 1rem;
    border: none !important;
    background-color: unset;
}

.chorus-icon-active,
.chorus-icon-active:hover {
    color: #2edb64;
}

.chorus-hover-white:hover {
    color: #fff;
}

.chorus-text {
    color: #fff;
    font-weight: 600;
    font-size: .75rem;
}

.chorus-pill {
    padding: 0 .25rem;
    text-align: center;
    background-color: #535353;
}

.chorus-text-button {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: .75rem;
    padding: .125rem .25rem;
    border-radius: .125rem;
    height: 100%;
}

input[type=number], 
input[type=number]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    opacity: 1; /* Firefox */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

.chorus-text-button span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: 0 8px;
}

.slider {
    position: relative;
    z-index: 1;
    height: 6px;
}

.slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #494949;
}

.slider>.range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #fff;
}

.slider-container:hover .slider>.range {
    background-color: #1ed760;
}

.slider>.thumb {
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 0 rgba(98, 0, 238, .1);
    transition: box-shadow .3s ease-in-out;
}

.slider>.thumb.left {
    left: 25%;
    transform: translate(-6px, -3px);
    display: none;
}

.slider>.thumb.right {
    right: 25%;
    transform: translate(6px, -3px);
    display: none;
}

.slider-container:hover .slider>.thumb.left,
.slider-container:hover .slider>.thumb.right,
.slider-container:active .slider>.thumb.left,
.slider-container:active .slider>.thumb.right {
    display: block;
}

.input[type="range"] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 2;
    margin: 0;
    height: 6px;
    width: 100%;
    opacity: 0;
}

.input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.slider>.thumb.hover {
    box-shadow: 0 0 0 4px #28e269;
}

.slider>.thumb.active {
    box-shadow: 0 0 0 4px #28e269;
}

.time {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.6875rem;
    width: fit-content;
    min-width: 30px;
    font-weight: 400;
    color: #b3b3b3;
    padding-top: 2px;
}

.chorus-icon-active,
.chorus-icon-active:hover {
    color: #2edb64 !important;
}

.snippy {
    display: flex;
    height: 1.5rem;
    margin: 12px 0;
    justify-content: space-evenly;
    align-items: center;
}

.end {
    justify-content: flex-end;
}

[role=ff][aria-label],
[role=rw][aria-label],
[role=skip][aria-label],
[role=snip][aria-label], 
[role=speed][aria-label],
[role=settings][aria-label],
[role=artist-disco][aria-label] {
    position: relative;
    display: inline-block;
}

[role=ff][aria-label]:after,
[role=rw][aria-label]:after,
[role=skip][aria-label]:after,
[role=snip][aria-label]:after, 
[role=speed][aria-label]:after, 
[role=settings][aria-label]:after,
[role=artist-disco][aria-label]:after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    top: -1.25rem;
    z-index: 99999;
    right: 50%;
    transform: translate3d(calc(50%), -1.5rem, 10rem);
    pointer-events: none;
    padding: 8px;
    padding-top: 7px;
    line-height: 15px;
    white-space: nowrap;
    text-decoration: none;
    text-indent: 0;
    overflow: visible;
    font-size: 0.9rem;
    font-weight: normal;
    color: #fff;
    background-color: #282828;
    border-radius: 3px;
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 35%);
}

[role=ff][aria-label]:hover:after,
[role=rw][aria-label]:hover:after,
[role=skip][aria-label]:hover:after,
[role=snip][aria-label]:hover:after, 
[role=speed][aria-label]:hover:after,
[role=settings][aria-label]:hover:after,
[role=artist-disco][aria-label]:hover:after {
    display: inline-block;
}

#lyrics-ui {
    position: absolute;
    z-index: 10;
    right: 10%;
    bottom: 10%;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 7.25rem;

    & button {
        padding: 0 8px 2px 8px;
        font-size: 1rem;
    }
}

hr {
    margin: 0;
    width: 100%;
}

.select {
    background-color: transparent;
    color: #fff;
    border: none;
}

.container {
    max-width: 282px;
    overflow: hidden;
    white-space: nowrap;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 10s linear infinite !important;
}

.marquee p {
    display: inline-block;
}

.track-text {
    font-size: 16px;
    font-weight: 500;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}
