name: Release & Deploy

on:
  schedule:
    - cron: '30 9 * * 3,6'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          ref: main
      
      - name: Semver Info
        id: semver
        uses: cdrani/action-semantic-release-info@fix/current-branch
          
      - name: Update Version
        if: steps.semver.outputs.version != ''
        run: jq --arg version "${{ steps.semver.outputs.version }}" '.version = $version' manifest.json > tmp && mv tmp manifest.json

      - name: Commit Changes
        if: steps.semver.outputs.version != ''
        run: |
          git config --local user.name "Github Action"
          git config user.email "action@github.com"
          git commit -a -m "docs: bump version to ${{ steps.semver.outputs.git_tag }}"
          git tag ${{ steps.semver.outputs.git_tag }}

      - name: Push Changes
        if: steps.semver.outputs.version != ''
        uses: ad-m/github-push-action@master
        with:
          branch: ${{ github.ref }}
          tags: true

      - name: Nightly Merge
        uses: robotology/gh-action-nightly-merge@v1.4.0
        with:
          allow_ff: true
          ff_only: true
          stable_branch: 'main'
          development_branch: 'develop'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Archive Extension Files
        if: steps.semver.outputs.version != ''
        run: zip -r Chorus.zip . -x "*.git*" "*.*rc" "*.md"

      - name: Create Release Archive & Notes
        if: steps.semver.outputs.version != ''
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts: 'Chorus.zip'
          tag: ${{ steps.semver.outputs.git_tag }}
          name: ${{ steps.semver.outputs.git_tag }}
          body: ${{ steps.semver.outputs.notes }}
          
      - name: Upload & Publish
        if: steps.semver.outputs.version != ''
        uses: mnao305/chrome-extension-upload@v4.0.1
        with:
          file-path: Chorus.zip
          client-id: ${{ secrets.CLIENT_ID }}
          extension-id: ${{ secrets.EXTENSION_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          refresh-token: ${{ secrets.REFRESH_TOKEN }}
